{% extends 'appli_ticketing/base.html' %}
{% block title %}Email de réinitialisation envoyé{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card text-center mt-5">
      <div class="card-body">
        <h2 class="card-title">Email de réinitialisation envoyé</h2>
        <p class="card-text">
          Nous vous avons envoyé des instructions par email pour définir votre nouveau mot de passe.
          Si vous ne recevez pas l'email, veuillez vérifier votre dossier de spam.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}